[submodule "external/byreal-skill-for-fun"]
	path = external/byreal-skill-for-fun
	url = https://github.com/kyle-park-io/byreal-skill-for-fun.git
[submodule "external/byreal-agent-skills"]
	path = external/byreal-agent-skills
	url = https://github.com/kyle-park-io/byreal-agent-skills.git
[submodule "external/RealClaw-Skills"]
	path = external/RealClaw-Skills
	url = https://github.com/kyle-park-io/RealClaw-Skills.git
[submodule "external/mantle-agent-cli"]
	path = external/mantle-agent-cli
	url = https://github.com/kyle-park-io/mantle-agent-cli.git
[submodule "external/mantle-skills"]
	path = external/mantle-skills
	url = https://github.com/kyle-park-io/mantle-skills.git
[submodule "external/mantle-agent-scaffold"]
	path = external/mantle-agent-scaffold
	url = https://github.com/kyle-park-io/mantle-agent-scaffold.git
[submodule "external/chains"]
	path = external/chains
	url = git@github.com:kyle-park-io/chains.git
[submodule "contracts-dev/foundry/lib/forge-std"]
	path = contracts-dev/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts-dev/foundry/lib/openzeppelin-contracts"]
	path = contracts-dev/foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts-dev/foundry/lib/solady"]
	path = contracts-dev/foundry/lib/solady
	url = https://github.com/Vectorized/solady
